.numbers-container {
  display: flex;
  flex-direction: column;
}

.numbers-container .numero-grande,
.numbers-container .numero-chico{
  font-size: 210px;
  color: red;
  background: #ecf0ee;
  border-radius: 20px;
  padding: 2.6vh 13vw;
  margin:  12px auto;
  text-align: center;
  display: inline-block;
  width: auto;
  height: auto
}

.numbers-container .numero-chico{
  font-size: 130px;
  padding: 3vh 10vw;
}

