.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-base-rgb: var(--ion-color-yellow-rgb);
  --ion-color-contrast: var(--ion-color-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellow-shade);
  --ion-color-tint: var(--ion-color-yellow-tint);
}

.question-container {
  flex-wrap: wrap;
}

.radio-label-container {
  width: 100%;
}

.question-label {
  white-space: normal !important;
  overflow: visible;
}

@media (min-width: 576px) {
  .question-container {
    flex-wrap: nowrap;
  }

  .question-label, .radio-label {
    font-size: 1.6em !important;
  }
}

ion-list ion-radio {
  width: 5vw;
  height: 5vw;
}