:root {
  --ion-color-yellow: #b0c60d;
  --ion-color-yellow-rgb: 176, 198, 13;
  --ion-color-yellow-contrast: #ffffff;
  --ion-color-yellow-contrast-rgb: 255,255,255;
  --ion-color-yellow-shade: #5ca56c;
  --ion-color-yellow-tint: #b0c60d;
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-base-rgb: var(--ion-color-yellow-rgb);
  --ion-color-contrast: var(--ion-color-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellow-shade);
  --ion-color-tint: var(--ion-color-yellow-tint);
}

.question-label {
  white-space: normal !important;
  overflow: visible;
}

.confirmar-btn {
  background-image: url('../assets/confirmar_btn.svg') !important;
  --background-image: url('../assets/confirmar_btn.svg') !important;
  background-size: auto auto !important;
  --background-size: auto auto !important;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 496px;
  background-position: center;
  --background-repeat: no-repeat;
  box-shadow: none;
  --box-shadow: none;
  margin-bottom: 3em;
}