:root {
  --ion-color-light-gray: #e7e7e7;
  --ion-color-light-gray-rgb: 246, 161, 62;
  --ion-color-light-gray-contrast: #ffffff;
  --ion-color-light-gray-contrast-rgb: 255,255,255;
  --ion-color-light-gray-shade: #5ca56c;
  --ion-color-light-gray-tint: #78c288;

  --ion-color-light-blue: #00afc2;
  --ion-color-light-blue-rgb: 0, 175, 194;
  --ion-color-light-blue-contrast: #ffffff;
  --ion-color-light-blue-contrast-rgb: 255,255,255;
  --ion-color-light-blue-shade:#018594;
  --ion-color-light-blue-tint: #78c288;
}

.ion-color-light-gray {
  --ion-color-base: var(--ion-color-light-gray);
  --ion-color-base-rgb: var(--ion-color-light-gray-rgb);
  --ion-color-contrast: var(--ion-color-light-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-gray-shade);
  --ion-color-tint: var(--ion-color-light-gray-tint);
}

.ion-color-light-blue {
  --ion-color-base: var(--ion-color-light-blue);
  --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
  --ion-color-contrast: var(--ion-color-light-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-blue-shade);
  --ion-color-tint: var(--ion-color-light-blue-tint);
}

.swiper-slide {
  flex-direction: column;
}

@media (width: 1200px) {
  .toolbar-title-default {
    padding: 2.5em !important;
  }

  .title {
    font-size: 3.5em;
    font-weight: bold;
  }

  ion-button{
    white-space: normal;
    --border-radius: 15px;
    min-height: 3em;
    --color: black !important;
    color: black !important;
    font-size: 2em;
  }
  
  .counter {
    font-size: 2em;
  }
}

.icon-container {
  background-color: var(--ion-color-light-gray);
}

.icon-background {
  background-color: var(--ion-color-light-blue);
}

.ion-text-center {
  margin: 0 auto;
}

.confirmar-btn {
  /* --background: none !important; */
  /* background-image: url('../assets/confirmar_btn.svg') !important; */
  background-image: url('../assets/confirmar_btn.svg') !important;
  --background-image: url('../assets/confirmar_btn.svg') !important;
  background-size: auto 100% !important;
  --background-size: auto 100% !important;
  width: 467px;
  background-repeat: no-repeat;
  --background-repeat: no-repeat;
  box-shadow: none;
  --box-shadow: none;
}