:root {
  --ion-color-favorite: #63a856;
  --ion-color-favorite-rgb: 98,	183, 102;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255,255,255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;
}

@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/CalibriRegular.ttf');
}

* {
  font-family: 'Calibri';
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.submit-btn, .confirmar-btn, .back-to-main, .btn-empezar {
  box-sizing: border-box;
  color: rgb(255, 255, 255) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-kerning: none;
  font-size: 3vh;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: bold;
  height: 36px;
  letter-spacing: 0.84px;
  line-height: normal;
  margin: 0px auto;
  overflow-wrap: break-word;
  pointer-events: auto;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  /* text-decoration-thickness: auto; */
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  text-transform: uppercase;
  user-select: none;
  visibility: visible;
  white-space: nowrap;
  /* width: 95.0938px; */
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #62B766;
  box-shadow: 0 1vw 0 0.3vw var(--ion-color-favorite-shade);
  --box-shadow: 0 1vw 0 0.3vw var(--ion-color-favorite-shade);
  border-radius: 2vw;
  --border-radius: 2vw;
  padding-top: 0;
  padding-bottom: 0;
  border-width: initial;
  border-color: initial;
  border-style: initial;
  display: block;
  width: 60vw;
  height: 7vh;
}

.botonmenu{
  box-shadow: none;
  color: white;
  font-size: 3vh;
  padding-top: 0;
  padding-bottom: 0;
  border-width: initial;
  border-color: initial;
  border-style: initial;
  display: block;
  height: 7vh;
  font-weight: bold;
  cursor: pointer;
}

.title {
  text-align: center;
}

.login-list {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.center {
  margin: 0 auto;
  margin-top: 1em;
}

.error-msg {
  color: red;
  font-size: 3vh
}

.loading {
  margin: 0 auto;
}

.grilla{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

ion-input, ion-textarea{ 
  border: solid 2px var(--ion-color-favorite);
  font-weight: bold;
  text-align: center;
  height: 6vh;
  margin-bottom: 3vh !important;
  font-size: 4vh !important;
}

.native-input.sc-ion-input-md:-webkit-autofill,
.native-input.sc-ion-input-md{
  font-size: 4vh;
}

.datosdeinteresado ion-item{
  font-size: 2.5vh; 
  border-bottom-color: #8C8B8A;
  --border-color: #8C8B8A;
}

ion-list.datosdeinteresado {
  width: 80vw;
}

.datosdeinteresado ion-title{
  font-size: 3.2vh;
  padding: 0;
  margin: 4vh;
}

.datosdeinteresado ion-item ion-label{
  padding: 1vh 0;
  margin: 1vh 0;
  color: #4F4F4E !important;
  
}

.alert-wrapper.sc-ion-alert-md {
  width: 90vw;
  max-width: 90vw;
  font-size: 4vh !important;
  border-radius: 3vh !important;
  background: #ecefee;
}

.alert-title.sc-ion-alert-md{
  font-size: 3vh;
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
  font-size: 3vh;
}

.alert-button-group.sc-ion-alert-md {
  font-size: 4vw;
  text-align: center;
  justify-content: center;
    
}

.alert-button.sc-ion-alert-md {
  font-size: 2vh;
  height: 5vh;
}

.alert-message.sc-ion-alert-md{
  max-height: 46vh;
}

.alert-head.sc-ion-alert-md{
  --background: #aeb925;
  background: #aeb925;
  color: white;
}

.alert-head.sc-ion-alert-md h2{
  color: white !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-align: center;
  padding: 1vh;
  font-size: 4vh;
}

.alert-button.sc-ion-alert-md{
  font-size: 2vh;
  height: 5vh;
  background: var(--ion-color-favorite);
  color: white;
  padding: 2vh;
  border-radius: .5vh;
  font-weight: bold;
}

.alert-button.sc-ion-alert-md.alert-button-role-cancel {
  background: var(--ion-color-medium);
}
.opt-btn{
  padding:1.4vh !important;
    background: var(--ion-color-light-blue) !important;
    border-radius: 5px !important;
    margin-bottom: 2vh !important;
    color: white !important;
    font-size: 2.4vh !important;
    cursor: pointer !important;
    HEIGHT: auto;
    font-weight: bold;
}

.question-img-container{
   margin-top: 2vh;
}

.question-img {
  min-height: 20vh;
  height: 20vh;
}

.practical-test-list ion-title{
  border-bottom: 2px solid #000;
  padding: 2vh 1vh 1vh 1vh;
}

.practical-test-list ion-title:last-child {
  border: none !important;
}

ion-menu ion-content{
  --background:var(--ion-color-favorite);
}
ion-menu.md ion-list#inbox-list{
  border-bottom: none;
  background: transparent !important;
}

.titulo-de-menu{
  font-size: 3.5vh
}

ion-menu.md ion-item{
  background: transparent !important;
  --background: transparent;
  margin-left: 3vw;
}

.iconomenu{
  width: 5vw;
  margin-right: 1vw;
}


.one-question{
  display: flex;
  border-bottom: 0.2vh solid #ccc;
  margin: 1vh 0;
  padding: 2vh 0;
}

.radio-label-container{
  width: calc(100% - 354.719px);
  display: flex;
}
.radio-row{
  /* width: 30vw; */
  /* margin: 0 auto; */
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
  padding: 5vh 3vw;
  font-weight: bold;
  text-align: center;
}

.titulo-centrado{
  font-size: 3vh;
  padding: 2vh;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #39b1c1;
}

.nombre-color p{
  font-size: 20vw
}

.counter{
  margin-top: 4vh !important;
  font-size: 4vw !important;
}

.counter .time{
  font-weight: bolder;
  font-size: 4.6vw !important;
  display: flex;
  align-items: center;
}
.counter .time .minutos_restantes,
.counter .time .segundos_restantes{
  background: #f0f2f1;
  color: black;
  border-radius: 1vw;
  padding: 3vh;
  position: relative;
  font-size: 90px;
}

.counter .time .segundos_restantes::after{
  content: 'Seg.';
  font-size: 40px;
  position: absolute;
  bottom: 8px;
  left: 8px;
}


.counter .time .minutos_restantes::after{
  content: 'Min.';
  font-size: 40px;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.texto-finalizado{
  color: #a0a0a0;
    font-size: 5vh;
    font-weight: bold;
    margin: 2vh 0 1vh 0;
}
