:root {
  --ion-color-favorite: #62B766;
  --ion-color-favorite-rgb: 98,	183, 102;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255,255,255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.submit-btn {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-kerning: none;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.84px;
  line-height: normal;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 14px;
  overflow-wrap: break-word;
  pointer-events: auto;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  /* text-decoration-thickness: auto; */
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  text-transform: uppercase;
  user-select: none;
  vertical-align: -webkit-baseline-middle;
  visibility: visible;
  white-space: nowrap;
  /* width: 95.0938px; */
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #62B766;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
  border-width: initial;
  border-color: initial;
  border-style: initial;
}

.title {
  text-align: center;
}

.login-list {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.center {
  margin: 0 auto;
  margin-top: 1em;
}

.error-msg {
  color: red;
}

.loading {
  margin: 0 auto;
}

* {
  font-family: Arial !important;
}