:root {
  --ion-color-alert: #e93a49;
  --ion-color-alert-rgb: 0, 175, 194;
  --ion-color-alert-contrast: #ffffff;
  --ion-color-alert-contrast-rgb: 255,255,255;
  --ion-color-alert-shade:#d62534;
  --ion-color-alert-tint: #78c288;
}

.ion-color-alert {
  --ion-color-base: var(--ion-color-alert);
  --ion-color-base-rgb: var(--ion-color-alert-rgb);
  --ion-color-contrast: var(--ion-color-alert-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alert-contrast-rgb);
  --ion-color-shade: var(--ion-color-alert-shade);
  --ion-color-tint: var(--ion-color-alert-tint);
}

.number-btn {
  margin: 10px;
  font-size: 7vh;
  /* --color: var(--ion-color-alert) !important; */
  color: #df2338 !important;
  font-weight: bold;
  --background: #ECEFEE;
  opacity: 1;
  box-shadow: none !important;
  --box-shadow: none !important;
  --border-radius: 1.6vh;
  --padding-bottom: 0vh;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  min-height: 9vh;
}

.number-column{
  width: 30vw;
}

.display-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.number-display {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.number-display p {
  text-align: center;
  font-size: 6vh;
}

.elemento-grande{
  font-size: 58vh !important;
  color: var(--ion-color-alert)
}

.elemento-chico{
  font-size: 6vh  !important;
}

.btn-container {
  margin: 3em;
  text-align: center;
}

