.ion-color-alert {
  --ion-color-base: var(--ion-color-alert);
  --ion-color-base-rgb: var(--ion-color-alert-rgb);
  --ion-color-contrast: var(--ion-color-alert-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alert-contrast-rgb);
  --ion-color-shade: var(--ion-color-alert-shade);
  --ion-color-tint: var(--ion-color-alert-tint);
}

.number-btn {
  margin: 10px;
  font-size: 7vh;
  /* --color: var(--ion-color-alert) !important; */
  color: #df2338 !important;
  font-weight: bold;
  --background: #ECEFEE;
  opacity: 1;
  box-shadow: none !important;
  --box-shadow: none !important;
  --border-radius: 1.6vh;
  --padding-bottom: 1vh;
  --padding-top: 2vh;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  min-height: 9vh;
}

.number-column{
  width: 30vw;
  text-align: "center";
  display: "flex";
  flex-direction: "column";
}

#memorize-numbers .grid {
  flex-direction: "column";
  /* height: 100%; */
}

.number-board {
  display: "flex";
  justify-content: "center";
  margin: "auto";
}

.display-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.number-display {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.number-display p {
  text-align: center;
  font-size: 6vh;
}

.elemento-grande{
  font-size: 58vh !important;
  color: var(--ion-color-alert);
  display: block;
}

.elemento-chico{
  font-size: 6vh  !important;
  background: #ebefee;
  padding: 40px;
  box-shadow: 0 1vw 0 0.3vw #9cd8db;
  --box-shadow: 0 1vw 0 0.3vw #9cd8db;
  border-radius: 2vw;
  --border-radius: 2vw;
  color: red;
  --color: red;
  text-transform: uppercase;
  font-weight: bold;
  width: 80vw !important;
}

.elemento-chico:empty{
  display: none;
}

.btn-container {
  margin: 3em;
  text-align: center;
}

