:root {
  --ion-color-orange: #F6A13E;
  --ion-color-orange-rgb: 246, 161, 62;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255,255,255;
  --ion-color-orange-shade: #5ca56c;
  --ion-color-orange-tint: #78c288;

  --ion-color-light-blue: #00afc2;
  --ion-color-light-blue-rgb: 0, 175, 194;
  --ion-color-light-blue-contrast: #ffffff;
  --ion-color-light-blue-contrast-rgb: 255,255,255;
  --ion-color-light-blue-shade:#018594;
  --ion-color-light-blue-tint: #78c288;

  --ion-color-lighter-blue:#B8E8ED;
  --ion-color-lighter-blue-rgb: 184, 232, 237;
  --ion-color-lighter-blue-contrast: #ffffff;
  --ion-color-lighter-blue-contrast-rgb: 255,255,255;
  --ion-color-lighter-blue-shade:#B8E8ED;
  --ion-color-lighter-blue-tint: #78c288;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-light-blue {
  --ion-color-base: var(--ion-color-light-blue);
  --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
  --ion-color-contrast: var(--ion-color-light-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-blue-shade);
  --ion-color-tint: var(--ion-color-light-blue-tint);
}

.ion-color-lighter-blue {
  --ion-color-base: var(--ion-color-lighter-blue);
  --ion-color-base-rgb: var(--ion-color-lighter-blue-rgb);
  --ion-color-contrast: var(--ion-color-lighter-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lighter-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-lighter-blue-shade);
  --ion-color-tint: var(--ion-color-lighter-blue-tint);
}

@media (width: 1200px) {
  .toolbar-title-default {
    padding: 2.5em !important;
  }

  .title {
    font-size: 3.5em;
    font-weight: bold;
  }

  ion-button{
    white-space: nowrap;
    --border-radius: 15px;
    min-height: 3em;
    --color: black !important;
    color: black !important;
    font-size: 2em;
  }
  
  .text, .texto {
    white-space: normal;
  }

  .counter {
    font-size: 2em;
  }
}

.opt-btn {
  padding: 1em;
  background: var(--ion-color-light-blue);
  border-radius: 5px;
  margin-bottom: 2em;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.ms-list {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 5em;
}

ion-button {
  margin: 0 auto;
}

.question-details {
  padding-right: 10px;
}

.question-text {
  font-size: 3.5em;
}

.question-img {
  margin: 0 auto;
  margin-bottom: 10px;
}

.opt-btn {
  margin-top: 1em;
  border-radius: 3vw !important;
  padding: 3vh 3vw !important;
  background-color: #68C7D4 !important;
  box-shadow: 10px 10px 10px #04A2B7;
  color: black !important;
}

.opt-btn:nth-child(2){
  background-color: #E5F6F8 !important;
  box-shadow: 10px 10px 10px #A1DDE4;
  color: black !important;
}

.opt-btn:last-child{
  background-color: #B3E3E9 !important;
  box-shadow: 10px 10px 10px #7ED0DA;
  color: black !important;
}